body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:590px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:590px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:287px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:267px;
  width:299px;
  height:38px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:324px;
  width:299px;
  height:38px;
}
#u214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:397px;
  width:312px;
  height:43px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:48px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u217 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:191px;
  width:163px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
