body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:4009px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:4009px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1996px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:9px;
  width:29px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
