body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:729px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:729px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:356px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:7px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:7px;
  width:31px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
