body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:1818px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:1818px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:901px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:7px;
  width:32px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
