body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:900px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:900px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:29px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
