body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:1197px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:1197px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:590px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:20px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
