body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:1445px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:1445px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:714px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:28px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
